.my {
    padding: 10px 10px;
    background-color: gainsboro;
    }

.my a {
    color: #000 !important;
    font-weight: bold;
    font-size: 1em;
}

.photo {
    width: 70%;
    height: 100%;
    border-radius: 100px;
    margin-top: 10%;
}
   