@import url('https://fonts.googleapis.com/css?family=Quicksand');
.my {
    padding: 10px 10px;
    background-color: gainsboro;
    }

.my a {
    color: #000 !important;
    font-weight: bold;
    font-size: 1em;
}

.photo {
    width: 50%;
    border-radius: 400px;
    margin: auto;
    margin-top: 10%;
}

.about {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
}