@import url('https://fonts.googleapis.com/css?family=Quicksand');
.my {
    padding: 10px 40px;
    background-color: gainsboro;
}

.my a {
    color: #000 !important;
    font-weight: bold;
    font-size: 1em;
}

.photo {
    width: 100%;
    border-radius: 400px;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
}

.about {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin: auto;
    margin-top: 20%;
}

.proj {
    background-color: gainsboro;
}

.block {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin: auto;
}